<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
    bootstrap="tests/php/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Theme Unit Tests">
            <directory>tests/php</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">blocks</directory>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>node_modules</directory>
            <directory>tests</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage/php"/>
            <clover outputFile="coverage/php/clover.xml"/>
        </report>
    </coverage>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
        <const name="OMB_TESTING" value="true"/>
    </php>
</phpunit>
