.acf-gallery-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.acf-gallery {
	--visible-images: 3; /* Fallback */
	--block-gap: var(--acf-block-gap, 0px); /* Fallback */
	--acf-gallery-gap: var(--block-gap, 0px); /* Ensure unit is included */
	display: flex;
	align-items: center;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	gap: var(--acf-block-gap, 0);
	padding: var(--wp--preset--spacing--padding, 0);
	margin: var(--wp--preset--spacing--margin, 0);
	background-color: var(--wp--preset--color--background, transparent);
	-webkit-overflow-scrolling: touch;
	scroll-padding: 0;

	--item-width: calc(100% / var(--visible-images));
	--gap-offset: calc(
		(var(--acf-gallery-gap) * (var(--visible-images) - 1)) /
			var(--visible-images)
	);
	--gallery-item-width: calc(var(--item-width) - var(--gap-offset));
}

.acf-gallery-item {
	flex: 0 0 var(--gallery-item-width);
	scroll-snap-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media (width <= 30rem) {
	.acf-gallery-item {
		scroll-snap-align: start;
	}
}

.acf-gallery-inner {
	position: relative;
}

.acf-gallery-item img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 5px;
}

/* Navigation Buttons */
.acf-gallery-prev,
.acf-gallery-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgb(0 0 0 / 50%);
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 24px;
	z-index: 10;
	display: none;
}

.acf-gallery-prev:focus,
.acf-gallery-next:focus {
	outline: 2px solid var(--color-primary, #5344f4);
	outline-offset: 2px;
}

.acf-gallery-prev {
	left: 10px;
}

.acf-gallery-next {
	right: 10px;
}
