@layer components {
	.wp-element-button:hover {
		text-decoration: none;
	}

	.wp-block-button .wp-block-button__link {
		transition: all 0.3s ease-in-out;
	}

	.wp-block-button .wp-block-button__link:hover {
		transform: scale(1.05);
		box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
	}

	.wp-block-button.is-style-button-brand .wp-block-button__link:hover {
		background: color-mix(in oklab, var(--wp--preset--color--primary) 90%, white);
	}

	.wp-block-button.is-style-secondary-button .wp-block-button__link:hover {
		background: color-mix(in oklab, var(--wp--preset--color--tertiary) 97%, black);
	}
}
