@layer layout {
	.site-header:not(.site-header .site-header) {
		position: sticky;
		z-index: 10;
		top: 0;
	}

	@media (width >= 600px) {
		.site-header:not(.site-header .site-header) {
			top: calc(var(--wp-admin--admin-bar--height, 0px));
		}
	}

	#header--top {
		display: none;
	}

	@media (width >= 900px) {
		#header--top {
			display: block;
		}
	}

	.wp-block-group.ollie-sticky-top {
		top: calc(
			20px + var(--header-height) +
				var(--wp-admin--admin-bar--position-offset, 0px)
		) !important;
	}
}
