:root {
	interpolate-size: allow-keywords;
}

.faq-container {
	margin: 1.25rem auto;
	padding: 1.5rem;
	background-color: var(--wp--preset--color--custom-brand);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.faq-container .faq-title {
	font-size: 1.5rem;
	margin: 0;
}

.faq-items {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.faq-item {
}

details {
	border: 1px solid var(--wp--preset--color--custom-border);
	border-radius: 0.5rem;
	padding: 0.75rem;
	background-color: var(--wp--preset--color--base);
	overflow: hidden;
	transition: background-color 0.4s ease;
}

details * {
	margin: 0;
}

details[open] {
	background-color: var(--wp--preset--color--tertiary);
}

details::details-content {
	block-size: 0%;
	transition:
		block-size 0.4s ease,
		content-visibility 0.4s ease;
	transition-behavior: allow-discrete;
}

details[open]::details-content {
	block-size: auto;
}

summary {
	font-weight: bold;
	cursor: pointer;
	padding: 5px;

	margin-inline-start: 1rem;
	list-style-position: outside;
}

summary::marker {
	font-size: 0.75rem;
	margin-right: 0.5rem;
}

details p {
	padding: 0.5rem;
	font-size: 1rem;
}
